/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    /* border:1px solid black; */
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/****************** ここから記述 *********/

body {
  font-family: 'M PLUS 1p', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 200px;
  padding-right: 200px;
  background-color: rgba(255,255,255,0.6);
}

.wrap {
  padding-top: 50px;
  background: url(71b234c33df685a43b4d3538bd144d55_m.jpg) no-repeat fixed;
  background-position: center;
  background-size: cover;
}

.heaer_title {
  flex: 1;
}

.header_title h1 {
  font-size: 30px;
  opacity: 0.5;
  font-family: 'Baloo Bhai 2', cursive;
  text-shadow: 1px 1px 4px black;
  color: skyblue;
}

.header_menu {
  flex: 0.7;
  line-height: 30px;
}

.header_menu2 {
  flex: ;
  line-height: 30px;
}

ul {
  display: flex;
}

li {
  padding:0 10px 0;
  list-style: none;
  margin-right: 20px;
  opacity: 0.6;
  font-family: 'Baloo Bhai 2', cursive;
}

li:last-child {
  margin-right: 0px;
}

li:hover {
  background: rgba(255,255,255,0.6);
  opacity: 0.8;
  cursor: pointer;
}

.main1 {
  padding-top: 100px;
  text-align: center;
}

.main1 > h2 {
  font-size: 25px;
  color: rgba(255,255,255,0.8);
  line-height: 1.9;
  padding-bottom: 80px;
}

.main2 {
  width: 100%;
  padding: 100px 200px 0;
  margin: 0 auto;
}

.main2 > h2 {
  font-size: 25px;
  color: rgba(255,255,255,0.8);
  line-height: 1.9;
  padding-bottom: 20px;
  text-align: center;
}

.btn {
  display: inline-block;
  padding: 20px 50px 20px;
  border-radius: 10px;
  letter-spacing: 4px;
  box-shadow: 0px 0px 7px -1px black;
}

.signup {
  background: #d6ffff;
  margin-right: 50px;
  opacity: 0.6;
  color: #777777;
}

.login {
  background: #d6eaff;
  opacity: 0.6;
  color: #777777;
  text-decoration: none;
}

.btn:hover {
  opacity: 0.8;
  cursor: pointer;
  box-shadow: 0px 0px 7px 3px gray;
}

.form-container {
  width: 40%;
  margin: 0 auto;
}

input[type="checkbox"] {
  width: 5%;
}

input[type="radio"] {
  width: 5%;
}

.checklogin {
  color: rgba(250, 250, 250, 0.9);
}
input {
  width: 100%;
  padding: 10px;
}

textarea {
  width: 100%;
  height: 200px;
}


label {
  display: block;
  margin-bottom: 10px;
}

.loginspan {
  display: block;
  margin-bottom: 20px;
  color: rgba(255,255,255,0.8);
}

.send{
  display: block;
  width: 30%;
  margin: 0 auto 10px;
  border-style: none;
  background: rgba(16, 86, 237, 0.633);
  padding: 10px;
  border-radius: 5px;
  color: rgba(255,255,255,0.6);
  font-family: inherit;
  box-shadow: 0px 0px 3px 1px;
  font-size: 15px;
}

.send:hover {
  background: rgba(16, 86, 237, 0.9);
  cursor: pointer;
}

.send[disabled]{
  background-color: #aaa;
  cursor: not-allowed;
}

.has-error {
  color: red;
}

.has-error span {
  color       : #ff0000;            /* 文字の色 */
  font-size   : 10pt;               /* 文字のサイズ */
  text-shadow : 0px 0px 2px #000000;  /* 文字の影 */
}

h3 {
  color: rgba(255,255,255,0.6);
  margin-bottom: 20px;
}

dl {
  color: rgba(255,255,255,0.6);
  padding-bottom: 40px;
}

dt {
  border-left: 3px solid blue;
  padding-left: 10px;
}

dd {
  border-left: 3px solid white;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 30px;
  text-shadow: 0 0 8px gray;
  font-size: 18px;
}

.rewrite a {
  text-decoration: none;
  color: lightgray;
}

.signuplogin {
  text-align: center;
  padding-bottom:10px;
}
.signuplogin a {
  color: rgba(250, 250, 250, 0.6);
  text-decoration: none;
}

.signuplogin a:hover {
  color: rgba(250, 250, 250, 0.9);
}

.form_g p {
  color: rgba(250, 250, 250, 0.9);
  padding-bottom: 2px;

}

.msg {
  padding-top:50px;
  padding-bottom:50px;
  padding-left: 300px;
  padding-right: 300px;
}

.msg > h1 {
  text-align: center;
  font-size: 18px;
}

.msg_repeat {
padding: 40px;
border-top: 1px solid black;
}

.msg_repeat > h2 {
  font-size: 20px;
  line-height: 30px;
}
.msg_repeat > p {
  line-height: 25px;
}
.msg_repeat > span {
  font-size: 10px;
}

.pages {
  padding-left: 300px;
  padding-right: 300px;
  text-align: center;
  padding-bottom: 100px;
}

.comment_table {
  font-size: 15px;
  color: gray;
  float: right;
}

.cmt {
  border: 1px dotted black;
}

.paging li {
  text-align: center;
}